{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
      <div class="row main">
        <div class="panel-heading">
                 <div class="panel-title text-center">
                    <h1 class="title">Registration</h1>
                    <hr />
                  </div>
              </div> 
        <div class="main-login main-center">
          <form class="form-horizontal" method="post" action="{{ url_for('registration') }}">
            <p>{% if error %}{{ error }}{% endif %}</p>
            <div class="form-group">
              <label for="lastname" class="cols-sm-2 control-label">Your LastName</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="lastname" id="lastname"  placeholder="Enter your LastName" active required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="firstname" class="cols-sm-2 control-label">Your FirstName</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user-plus fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="firstname" id="firstname"  placeholder="Enter your FirstName" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">Username</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password2" class="cols-sm-2 control-label">Confirm Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password2" id="password2"  placeholder="Confirm your Password" required/>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
            </div>
            <div class="login-register">
                    <a href="{{ url_for('login') }}">Login</a>
                 </div>
          </form>
        </div>
      </div>
{% endblock %}